name: Mirror to Gitopia

on:
  push:
    branches:
      - '**'
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Push to Gitopia mirror
        uses: gitopia/gitopia-mirror-action@v0.5.0
        with:
          gitopiaWallet: "${{ secrets.GITOPIA_WALLET }}"
          remoteUrl: "gitopia://gitopia1t579lcjc62dxlw5p9ff6wudkmwfhx8j7zvru9l/cosmywasmy"
